In [18]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [19]:
#create connection to database file
database = "datasample1.db"
connection = sql.connect(database)

In [20]:

query = '''SELECT * from movieinfo'''

In [21]:
df=pd.read_sql_query(query,connection)
df.head()

,movie,lead actor,actress,date of release,director
0,Master,Vijay,Malavika mohan,13-1-2021,Lokeshkanagaraj
1,Mankatha,Ajith Kumar,Trisha,31-8-2011,Venkat Prabhu
2,Interstellar,Matthew McConaughey,Anne Hathaway,26-10-2014,Christopher Nolan
3,Iron Man,Robert Downey jr,Gwyneth Paltrow,14-4-2008,Jon Favreau
4,Dev,Karthi,Rakul Preethsingh,14-2-2019,Rajath Ravishankar

In [30]:
df.iloc[3]

movie                      Iron Man
lead actor         Robert Downey jr
actress             Gwyneth Paltrow
date of release           14-4-2008
director                Jon Favreau
Name: 3, dtype: object